header {
  background-color: #222;
  /* text-align: center; */
  /* display: flex;
  justify-content: center; */
}

.header-container {
  text-align: center;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

h1 {
  color: #eaeaea;
  font-size: 2rem;
  font-weight: bold;
}

h1:hover {
  cursor: pointer;
}

.dark h1 {
  color: hotpink;
}

/* form {
  color: #eaeaea;
} */

label {
  margin-right: 1em;
  margin-top: 1em;
  color: #eaeaea;
}

.dark label {
  color: hotpink;
}

select {
  margin-top: 1em;
  padding: 0.25em;
  font-weight: bold;
  background-color: #ffaad5;
}
