/* font-family: 'Lugrasimo', cursive;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  background-color: #eaeaea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark .wrapper {
  background-color: #222;
}

h1,
h2,
h6 {
  font-family: "Lugrasimo", cursive;
}
